.link_back {
    width: 28px;
    height: 28px;
    border-radius: 50%;

    &_img {
        position: absolute;
        top: 0;
        left: 0;
    }

    &_back__reverse {
        rotate: 180deg;
        margin: 0;
    }
}
