.block-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_form {
  padding: 30px;
  padding-top: 50px;
  width: 340px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;

  &__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__inputs {
    margin-bottom: 159px;
  }

  .input {
    border: none;
    border-bottom: 1px solid $color__secondary;
    height: 20px;
    width: 100%;
    margin-bottom: 30px;

    &::placeholder {
      font-size: 13px;
      line-height: 13px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__btn {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__link-signup {
    text-align: center;
    color: $color__secondary;
  }
}
