.main.page-login.block-center
    .login_form
        h1.login_form__title= title 
        form.login_form__inputs 
            | !{fields}
        .login_form__buttons
            .login_form__btn
                | !{actions}
            .login_form__link-signup
                | !{link}
