.button {
  text-align: center;
  background: $color__secondary;
  display: block;
  padding: 12px 70px;
  margin-bottom: 14px;
  border: none;
  border-radius: 8px;

  &:hover {
    box-shadow: 0 0 3px $color__secondary;
  }

  a {
    color: $color__primary;
  }
}

.link__red {
  a {
    color: $color__error;
    background-color: $color__primary;
  }
}
