.button {
  text-align: center;
  background: $color__secondary;
  display: block;
  padding: 12px 70px;
  margin-bottom: 14px;
  border: none;
  border-radius: 8px;
}
//исправить?!
a {
  color: $color__primary;
}
