.editField_data {
    //float:left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color__hover;
}

.editField_value {
    color: $text-color__secondary;
    font-size: 13px;
    input { 
      border-bottom: unset;
      height: unset;
      width: unset;
      margin-bottom: unset;
      text-align:right;
    }
}


