.page-profile.maim
    .profile
        .profile_header
            .profile_header_avatar 
                img(src=noAvavtarIcon, alt="avatar")
            .profile_header_name Иван
        .profile_info 
            | !{fields}
        .profile_buttons
            .profile_buttons__changeData
                a(href="/editProfile").link Изменить данные
            .profile_buttons__changePassword
                a(href="/editProfile").link Изменить пароль
            .profile_buttons__logout
                a(href="/").link__red Выйти
