.popup
    .popup_bg 
        .popup_wrap
            form.popup_form
                h4.popup_title Загрузите файл
                label.popup_input(for="avatar")
                    input.popup_input(type="file" name="avatar" id="avatar" accept="image/*")
                    span.link.popup_input__text Выбрать файл
                | !{buttonClose}
                | !{button}

