.popup_create
    .popup_bg 
        .popup_wrap
            form.popup_form
                h4.popup_title Введите название чата
                | !{input}
                | !{buttonClose}
                | !{button}

