.field {
  display: flex;
  flex-direction: column;

  &__label {
    font-weight: 500;
    font-size: 9px;
    color: $text-color__secondary;
    order: 1;
  }

  .input {
    order: 2;
  }

  &_error {
    order: 3;
  }
}
