extends ../template.pug
include ../../components/button/button.pug
include ../../components/input/input.pug

block templateVar 
  - const pageTitle = "Регистрация"

block content
    .page-sign-up.block-center
        .sign-up_form
            h1.sign-up_form__title Регистрация
            form.sign-up_form__inputs
                +input("text", "Почта").email
                +input("text", "Логин").login
                +input("text", "Имя").first-name
                +input("text", "Фамилия").second-name
                +input("text", "Телефон").phone
                +input("text", "Пароль").password
                +input("text", "Пароль(ещё раз)").check-password
            .sign-up_form__buttons
                +button('Зарегистрироваться').sign-up_form__btn
                a(href="/src/pages/sign-up/").sign-up_form__link-login
                a.sign-up_form__link-signin(href="#") Войти