.popup_create
    .popup_bg 
        .popup_wrap
            form.popup_form
                h4.popup_title Список участников чата
                | !{closeButton}
                | !{button}
                ul.user_item_list 
                    |!{userList}

