.popup_create
    .popup_bg 
        .popup_wrap
            form.popup_form_add_user
                h4.popup_title Введите id пользователя
                |!{input}
                |!{closeButton}
                |!{button}
                ul.user_item_list 
                    |!{userList}
