.page-chats {
	display:flex;
	flex-direction: row;
}
.chatlist {
	width: 310px;
	border-right: 1px solid $color__hover;
	background-color: $background-color__secondary;
	display: flex;
	flex-direction: column;
	


		&_header {
			color: $text-color__secondary;
			padding: 15px 10px;
			text-align: right;
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid $color__hover;

			&_btn-profile {
				display: flex;
				align-items: center;
				align-self: flex-end;
				margin-bottom: 23px;
				
				&__link {
					line-height: 12px;
					color: $text-color__secondary;
					background-color: $background-color__secondary
				}
			
				&__link-text {
					margin-right: 9px;
				}
			}
		}
}
.chatlist_header {

	&_search {
		position: relative;
		height: 32px;
		border-radius: 5px;
		overflow: hidden;

		&__input {
			width: 100%;
			height: 100%;
			padding-left: 34px;
			border: 0;
			border-radius: 5px;
			background-color: $background-color__input;
			line-height: 12px;
		}

		&__img-search  {
			position: absolute;
			width: 10%;
			height: 100%;
			pointer-events: none;
			background: url(../../static/images/search.svg) no-repeat 50% 50%;
		}
	}

}

.chatlist-item {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 12px 10px;
	cursor: pointer;


	&_wrapper{
		display: flex;
		flex-direction: row;
		padding: 12px 10px;
		border-bottom: 1px solid $color__hover;
	}

		&_avatar {
			position: relative;
			z-index: 2;
			flex-shrink: 0;
			margin-right: 10px;
			border-radius: 50%;
			width: 47px;
			height: 47px;
			
		}

	&_content {
		position: relative;
		z-index: 2;
		flex-grow: 1;
		padding-right: 17px;
		text-align: left;

		
		&__name {
			margin-bottom: 4px;
			font-weight: 600;
			font-size: 13px;
			line-height: 1;
		}

		&__messege {
			line-height: 1.25;
			color: $text-color__secondary;
		}
	}


	&_secondary {
		position: relative;

		&_time {
			margin-bottom: 14px;
			font-size: 9px;
			line-height: 1.4;
			color: $text-color__secondary;
		}
	
		&_unread {
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: $color__secondary;
			font-size: 11px;
			line-height: 1.1;
			text-align: center;
			color: $color__primary;
		}

	}

}

.chat{
	display: flex;
	flex-direction: column;
}
.chat-notSelected {
	position: absolute;
	top: 50%;
	left: 50%;
	color: $text-color__secondary;
}
.chat-selected {
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.chat_header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $color__hover;
  
	&_info {
	  display: flex;
	  align-items: center;
	  width: 34px;
	  height: 34px;
  
	  img {
		object-fit: cover;
	  }

	  &__avatar {
		width: 34px;
		height: 34px;
		margin-right: 10px;
		margin-left: 20px;
		border-radius: 50%;
	  }
	
	  &__name {
		font-weight: 600;
		font-size: 13px;
		line-height: 1;
	  }
	}
  
	&_menu-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;	  
	}
}
