@import url('reset.scss');
@import url('fonts.scss');
@import url('variables.scss');

.main {
  display: flex;
  background: $color__primary;
  color: $text-color__primary;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.page-navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -40%);
  font-size: 30px;

  h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  li {
    padding-bottom: 10px;

    a {
      color: $color__secondary;
    }
  }
}

@import url('../components/components.scss');
@import url('../pages/chats/chats.scss');
@import url('../pages/login/login.scss');
@import url('../pages/signup/signup.scss');
@import url('../pages/profile/profile.scss');
@import url('../pages/editProfile/editProfile.scss');
@import url('../pages/error/error.scss');
