@import 'reset';
@import 'fonts';
@import 'variables';

.main {
  display: flex;
  background: $color__primary;
  color: $text-color__primary;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.page-navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -40%);
  font-size: 30px;

  h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  li {
    padding-bottom: 10px;

    a {
      color: $color__secondary;
    }
  }
}

@import '../components/components';
@import '../pages/Messenger/styles';
@import '../pages/Messenger/messenger';
@import '../pages/login/login';
@import '../pages/signup/signup';
@import '../pages/profile/profile';
@import '../pages/editProfile/editProfile';
@import '../pages/error/error';
