$color__primary: #FFFFFF;
$color__secondary: #3369F3;
$color__hover: #EAEAEA;
$color__error: #FF2F2F;

$background-color__primary: #E5E5E5;
$background-color__secondary: #FBFBFB;
$background-color__input: #EFEFEF;
$background-color__recipient: #F8F8F8;
$background-color__sender: #E4EDFD;

$text-color__primary:#1E1E1E;
$text-color__secondary:#999999;
