$color__primary: #fff;
$color__secondary: #3369f3;
$color__hover: #eaeaea;
$color__error: #ff2f2f;

$background-color__primary: #e5e5e5;
$background-color__secondary: #fbfbfb;
$background-color__input: #efefef;
$background-color__recipient: #f8f8f8;
$background-color__sender: #e4edfd;

$text-color__primary:#1e1e1e;
$text-color__secondary:#999;
