.setField_data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color__hover;
  }
  
  
  .setField_subtitle {
    color: $text-color__secondary;
  }

  .setField_value {
    font-size: 13px;
  }
  