.main.page-sign-up.block-center
    .sign-up_form
        h1.sign-up_form__title=title
        form.sign-up_form__inputs.fields
            | !{fields}
        .sign-up_form__buttons.actions
            | !{actions}
            a(href="/src/pages/sign-up/").sign-up_form__link-login
            a.sign-up_form__link-signin(href="/login") Войти
