extends ../template.pug

block templateVar 
  - const pageTitle = "Ошибка 404"

block content
    .page-error
    .error
        h1.error_title__number 404
        p.error__message Не туда попали
        a.error__link-back(onclick="window.location.href = '../chats.html'") Назад к чатам